[Unit]
Description=markwatch markdown watcher
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=simple
EnvironmentFile=/etc/default/markwatch
ExecStart=/usr/lib/markwatch/watch-markcompose.sh
Restart=always
RestartSec=2
KillSignal=SIGINT
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
